<center>
<h1>Sign Up Today!</h1>
<% if flash[:message] %>
    <p style="color: red"> <%= flash[:message]  %> </p> 
<% end %>

<%= form_for(@user, action:'/signup') do |f| %>
  <%= f.label "User Name:" %>
  <%= f.text_field :username %>
  <p>

  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  <p>

  <%= f.submit %>
<% end %>
</center>