<h1>Sign Up Today!</h1>

<%= form_for(@user, action:'/signup') do |f| %>
  <%= f.label "User Name:" %>
  <%= f.text_field :username %>
  <p>

  <%= f.label "Password:" %>
  <%= f.password_field :password %>
  <p>
  <%= f.label "Confirm Password:" %>
  <%= f.password_field :password %>
  <p>

  <%= f.submit %>
<% end %>