<center>
    <h1> All of <%= @user.username.capitalize %>'s Reviews! </h1>
    
    <table>
    <% @user.reviews.each do |review| %>
      <tr>
        <td>
            <h3><%= link_to review.title, review %></h3>
            <p>
       
            <%= review.restaurant.name%>
            <p>

            <%= review.content %>
            <p>
       
            
       
            <small><%= review.created_at %></small>
            <p>
        </td>

      </tr>
    <% end %>
  </table>



</center>
