<h1><center> Restaurant Review Show Page </center></h1>

<h1><%= @review.restaurant.name %></h1>

<div>
    <h2><%= @review.title %></h2>
    <small>By: <%= @review.user.username %></small>
    <p><%= @review.content %></p>
    <br>

    <<span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
</div>

<P>


<% if current_user == @review.user %>
    <%= link_to "Edit Review", edit_review_path(@review) %> | 
    <%= link_to "Delete", @question, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
