<h1><center> Restaurant Review Show Page </h1>

<h1><%= link_to @review.restaurant.name , restaurant_path%></h2>
<small>By: <%= @review.user.username %></small>
<h3><%= @review.title %></h3>
<p><%= @review.content %></p>
<p><%= @review.categories.name %></p>

