<center>
    <h1><%= @review.restaurant.name %></h1><br><br>

<div>
    <h2><%= @review.title %></h2>
    <small>By: <%= link_to @review.user.username, @review.user  %></small><br><br>
    ----------------------
    <p><%= @review.content %></p><br><br><br>

    ----------------------
    <br>
    </small>
        Category:
        <%= @review.categories[0].name%>
    </small>
    
    <br><br><br>

    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>


</div><br><P>

<%= edit_review %>
<%= delete_review %>
</center>