<!DOCTYPE html>
<html>
  <head>
    <title>Table Critique</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to "Home", reviews_path %> |
        <%= link_to "Add a Review", new_review_path %> |
        <%= link_to "All Restaurants", restaurants_path %> |
        <%= link_to "Log Out", logout_path, method:"delete"%>
      <% end %>

    </div>
    <%= yield %>
  </body>
</html>
